<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Spotify</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="userName" class="nav-item">
          <a class="nav-link" routerLink="/songList" routerLinkActive="active">Música</a>
        </li>
        <li *ngIf="userName" class="nav-item">
          <a class="nav-link" routerLink="/likeSongs" routerLinkActive="active">Mis favoritos</a>
        </li>  
        <li *ngIf="userName" class="nav-item">
          <a class="nav-link" routerLink="/playlists" routerLinkActive="active">Mi Listas</a>
        </li>      
        
      </ul>
    </div>

    <div *ngIf="userName" class="navbar-brand" >Usuario : {{userName}} </div>

      <div  class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" (keyup)="onkeyup(search.value)" #search >
    </div>

    <button *ngIf="userName" class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">LogOut</button>
  </nav>

  


  
