
    <div class="modal-content" >
        <div class="modal-header">
            <h5 class="modal-title">Nueva Playlists</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                 
                <div class="row form">        
                    <input type="text" class="form-control col-sm-6"
                    [(ngModel)]="name"
       
                     placeholder="nombre">
                     
                     <div class="col-sm-1"></div>
                     <button type="button" class="btn btn-primary col-sm-3" (click)="save()">crear</button>
                 </div> 
             <br>
             <list *ngIf="!hideList" [lists]="playlists" (deleteItem)="addPlaylists($event)"></list>
        </div>
        <div class="modal-footer">
          
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">cerrar</button>
        </div>
    </div>

   




