

<h4>Mis lista de canciones</h4>  
<br>
<br>
<button class="btn btn-info" (click)="open();" >Nueva Playlists</button>
<br>
<br>


<div class="row">

    <div class="col-md-6">
        <h4>Canciones</h4>
        <table *ngIf="playlists" class="table table-dark table-hover">
            <thead>
              <tr>
                <th>nombre</th>
                <th>descripción</th>
                <th>acción</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of playlists | paginate:{ itemsPerPage: pageSize, currentPage: page }">
              <tr>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td><button class="btn btn-info" (click)="viewType(item.id);" >Ver canción</button></td>
              </tr>
            </tbody>
          </table>
        
          <div class="row justify-content-start">
           <pagination-controls class="col-4" *ngIf="playlists" (pageChange)="page = $event"></pagination-controls>
           <select class="col-4" *ngIf="playlists" class="form-control" (change)="changingValue(option.value)" #option >
             <option [value]="option"  *ngFor="let option of pageOptions">{{option}}</option>
            </select>
         </div>
    </div>
      
</div>

